.rectangle{
    width: 300px;
    height: 20px;
    display: block;
    position: relative;
    border: 1px solid black;
    margin: 20px 0;
}

.square_small{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: red;
}

.square-big{
    width: 300px;
    height: 300px;
    display: block;
    position: relative;
    border: 1px solid black;
    margin: 20px 0;
}